<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="normalTyre" class="com.personalproject.CarDealershipApp.NormalTyre"></bean>
    <bean id="sportsTyre" class="com.personalproject.CarDealershipApp.SportsTyre"></bean>
    <bean id="heavyTyre" class="com.personalproject.CarDealershipApp.HeavyTyre"></bean>
    
    
    <bean id="normalCarNormalTyre" class="com.personalproject.CarDealershipApp.NormalCar"><constructor-arg ref="normalTyre"></constructor-arg></bean>
    <bean id="normalCarSportsTyre" class="com.personalproject.CarDealershipApp.NormalCar"><constructor-arg ref="sportsTyre"></constructor-arg></bean>
    
    
    <bean id="sportsCarHeavyTyre" class="com.personalproject.CarDealershipApp.SportsCar">
    <property name="tyre" ref="heavyTyre"></property>
    </bean>
    <bean id="sportsCarSportsTyre" class="com.personalproject.CarDealershipApp.SportsCar">
    <property name="tyre" ref="sportsTyre"></property>
    </bean>
    <bean id="truck" class="com.personalproject.CarDealershipApp.Truck"><constructor-arg ref="heavyTyre"></constructor-arg></bean>

</beans>